body {
    background-color: #e6e6fa; /* Cor de fundo lilás claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    color: #800080; /* Cor lilás para o texto */
    text-align: center;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    padding: 20px;
    background-color: #fff; /* Cor de fundo branca para destacar o texto */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
