body {
    background-color: #e6e6fa; /* Cor de fundo lilás claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Cor de fundo branca para destacar o conteúdo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    display: flex;
    flex-direction: column; /* Altera o layout para uma coluna */
    align-items: center;
}

h1 {
    font-size: 36px;
    color: #800080; /* Cor lilás para o título */
    text-transform: uppercase;
    margin-bottom: 20px;
}

#contador {
    font-size: 24px;
    color: #800080; /* Cor lilás para o texto da contagem regressiva */
    padding: 20px;
}
